<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create</title>
</head>

<body>
    <br> <br>
    <div id="reg">
        <h2 id="heading">Add an Item</h2>
        <form ng-submit="createEntry()">
            <div class="container">
                <label>Product ID</label>  
                <input type="number" name="product_id" id="id" placeholder="Product id"  size="10" ng-model="product_id" required/><br>
                
                <label for="fn"> Product Name: </label>   
                <input type="text" name="product_name" id="fn" placeholder= "Product name" onblur="validateName()" size="15" ng-model="product_name" required /><br> 
                  
                <label>Product Price</label>  
                <input type="number" name="product_price" id="price" placeholder="Price"  size="10" ng-model="product_price" required/><br>

                
                <label>Product Category</label>
                <input type="radio" value="Bakery" name="product_cat" checked ng-model="product_cat"> Bakery   
                <input type="radio" value="Cooking Essentials" name="product_cat" ng-model="product_cat"> Essentials   
                <input type="radio" value="Dessert" name="product_cat" ng-model="product_cat"> Dessert  
                <br> 

                <div class="mt-5 d-flex justify-content-center">
                    <input type="submit" value="Create" class="btn btn-success">
                </div>
            </div>
       
        </form>
    </div>
</body>

</html>